In [0]:
from pyspark.sql.types import *
import pyspark.sql.functions as f

from pyspark import SparkContext
from pyspark.sql import SparkSession
 
spark = SparkSession.builder.appName("my_project_1").getOrCreate()
sc = spark.sparkContext

In [0]:
# Read a CSV into a dataframe
# There is a smarter version, that will first check if there is a Parquet file and use it
def load_csv_file(filename, schema):
  # Reads the relevant file from distributed file system using the given schema

  allowed_files = {'Daily program data': ('Daily program data', "|"),
                   'demographic': ('demographic', "|")}

  if filename not in allowed_files.keys():
    print(f'You were trying to access unknown file \"{filename}\". Only valid options are {allowed_files.keys()}')
    return None

  filepath = allowed_files[filename][0]
  dataPath = f"dbfs:/mnt/coursedata2024/fwm-stb-data/{filepath}"
  delimiter = allowed_files[filename][1]

  df = spark.read.format("csv")\
    .option("header","false")\
    .option("delimiter",delimiter)\
    .schema(schema)\
    .load(dataPath)
  return df

# This dict holds the correct schemata for easily loading the CSVs
schemas_dict = {'Daily program data':
                  StructType([
                    StructField('prog_code', StringType()),
                    StructField('title', StringType()),
                    StructField('genre', StringType()),
                    StructField('air_date', StringType()),
                    StructField('air_time', StringType()),
                    StructField('Duration', FloatType())
                  ]),
                'viewing':
                  StructType([
                    StructField('device_id', StringType()),
                    StructField('event_date', StringType()),
                    StructField('event_time', IntegerType()),
                    StructField('mso_code', StringType()),
                    StructField('prog_code', StringType()),
                    StructField('station_num', StringType())
                  ]),
                'viewing_full':
                  StructType([
                    StructField('mso_code', StringType()),
                    StructField('device_id', StringType()),
                    StructField('event_date', IntegerType()),
                    StructField('event_time', IntegerType()),
                    StructField('station_num', StringType()),
                    StructField('prog_code', StringType())
                  ]),
                'demographic':
                  StructType([StructField('household_id',StringType()),
                    StructField('household_size',IntegerType()),
                    StructField('num_adults',IntegerType()),
                    StructField('num_generations',IntegerType()),
                    StructField('adult_range',StringType()),
                    StructField('marital_status',StringType()),
                    StructField('race_code',StringType()),
                    StructField('presence_children',StringType()),
                    StructField('num_children',IntegerType()),
                    StructField('age_children',StringType()), #format like range - 'bitwise'
                    StructField('age_range_children',StringType()),
                    StructField('dwelling_type',StringType()),
                    StructField('home_owner_status',StringType()),
                    StructField('length_residence',IntegerType()),
                    StructField('home_market_value',StringType()),
                    StructField('num_vehicles',IntegerType()),
                    StructField('vehicle_make',StringType()),
                    StructField('vehicle_model',StringType()),
                    StructField('vehicle_year',IntegerType()),
                    StructField('net_worth',IntegerType()),
                    StructField('income',StringType()),
                    StructField('gender_individual',StringType()),
                    StructField('age_individual',IntegerType()),
                    StructField('education_highest',StringType()),
                    StructField('occupation_highest',StringType()),
                    StructField('education_1',StringType()),
                    StructField('occupation_1',StringType()),
                    StructField('age_2',IntegerType()),
                    StructField('education_2',StringType()),
                    StructField('occupation_2',StringType()),
                    StructField('age_3',IntegerType()),
                    StructField('education_3',StringType()),
                    StructField('occupation_3',StringType()),
                    StructField('age_4',IntegerType()),
                    StructField('education_4',StringType()),
                    StructField('occupation_4',StringType()),
                    StructField('age_5',IntegerType()),
                    StructField('education_5',StringType()),
                    StructField('occupation_5',StringType()),
                    StructField('polit_party_regist',StringType()),
                    StructField('polit_party_input',StringType()),
                    StructField('household_clusters',StringType()),
                    StructField('insurance_groups',StringType()),
                    StructField('financial_groups',StringType()),
                    StructField('green_living',StringType())
                  ])
}

# Read demogrphic data

In [0]:
%%time
# demographic data filename is 'demographic'
demo_df = load_csv_file('demographic', schemas_dict['demographic'])

demo_df.printSchema()
print(f'demo_df contains {demo_df.count()} records!')
display(demo_df.limit(6))

root
 |-- household_id: string (nullable = true)
 |-- household_size: integer (nullable = true)
 |-- num_adults: integer (nullable = true)
 |-- num_generations: integer (nullable = true)
 |-- adult_range: string (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- race_code: string (nullable = true)
 |-- presence_children: string (nullable = true)
 |-- num_children: integer (nullable = true)
 |-- age_children: string (nullable = true)
 |-- age_range_children: string (nullable = true)
 |-- dwelling_type: string (nullable = true)
 |-- home_owner_status: string (nullable = true)
 |-- length_residence: integer (nullable = true)
 |-- home_market_value: string (nullable = true)
 |-- num_vehicles: integer (nullable = true)
 |-- vehicle_make: string (nullable = true)
 |-- vehicle_model: string (nullable = true)
 |-- vehicle_year: integer (nullable = true)
 |-- net_worth: integer (nullable = true)
 |-- income: string (nullable = true)
 |-- gender_individual: string (nullable = true)
 |-- age_individual: integer (nullable = true)
 |-- education_highest: string (nullable = true)
 |-- occupation_highest: string (nullable = true)
 |-- education_1: string (nullable = true)
 |-- occupation_1: string (nullable = true)
 |-- age_2: integer (nullable = true)
 |-- education_2: string (nullable = true)
 |-- occupation_2: string (nullable = true)
 |-- age_3: integer (nullable = true)
 |-- education_3: string (nullable = true)
 |-- occupation_3: string (nullable = true)
 |-- age_4: integer (nullable = true)
 |-- education_4: string (nullable = true)
 |-- occupation_4: string (nullable = true)
 |-- age_5: integer (nullable = true)
 |-- education_5: string (nullable = true)
 |-- occupation_5: string (nullable = true)
 |-- polit_party_regist: string (nullable = true)
 |-- polit_party_input: string (nullable = true)
 |-- household_clusters: string (nullable = true)
 |-- insurance_groups: string (nullable = true)
 |-- financial_groups: string (nullable = true)
 |-- green_living: string (nullable = true)

demo_df contains 357721 records!

household_id,household_size,num_adults,num_generations,adult_range,marital_status,race_code,presence_children,num_children,age_children,age_range_children,dwelling_type,home_owner_status,length_residence,home_market_value,num_vehicles,vehicle_make,vehicle_model,vehicle_year,net_worth,income,gender_individual,age_individual,education_highest,occupation_highest,education_1,occupation_1,age_2,education_2,occupation_2,age_3,education_3,occupation_3,age_4,education_4,occupation_4,age_5,education_5,occupation_5,polit_party_regist,polit_party_input,household_clusters,insurance_groups,financial_groups,green_living
00000015,2,2,1,000000000000100000000,S,B,null,null,0000000000000000000,000000000000000,S,O,5,E,null,null,null,null,6,4,M,60,4,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,D,443,02C3,08C3,null
00000024,2,2,1,000000000100000000000,null,W,null,null,0000000000000000000,000000000000000,M,O,null,F,null,null,null,null,7,7,F,46,3,Z,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,R,223,09O3,03O3,null
00000026,null,null,null,000000000000000000000,null,null,null,null,0000000000000000000,000000000000000,S,null,null,F,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,46G,04CG,08CG,null
00000028,3,2,2,000000110000000000000,S,W,Y,1,0000010000000000000,000001000000000,S,O,3,H,null,null,null,null,5,7,M,38,2,4,null,null,34,1,7,null,null,null,null,null,null,null,null,null,null,V,473,11R3,09C3,1
00000035,1,1,1,000000000100000000000,null,W,null,null,0000000000000000000,000000000000000,null,null,null,G,null,null,null,null,4,null,M,50,2,1,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,D,523,13C3,08C3,null
00000036,null,null,null,000000000000000000000,null,null,null,null,0000000000000000000,000000000000000,null,null,null,G,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,51G,10RG,10RG,null

CPU times: user 304 ms, sys: 15.6 ms, total: 320 ms
Wall time: 23.4 s

# Read Daily program data

In [0]:
%%time
# daily_program data filename is 'Daily program data'
daily_prog_df = load_csv_file('Daily program data', schemas_dict['Daily program data'])

daily_prog_df.printSchema()
print(f'daily_prog_df contains {daily_prog_df.count()} records!')
display(daily_prog_df.limit(6))

root
 |-- prog_code: string (nullable = true)
 |-- title: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- air_date: string (nullable = true)
 |-- air_time: string (nullable = true)
 |-- Duration: float (nullable = true)

daily_prog_df contains 13194849 records!

prog_code,title,genre,air_date,air_time,Duration
EP000000250035,21 Jump Street,Crime drama,20151219,050000,60.0
EP000000250035,21 Jump Street,Crime drama,20151219,110000,60.0
EP000000250063,21 Jump Street,Crime drama,20151219,180000,60.0
EP000000510007,A Different World,Sitcom,20151219,100000,30.0
EP000000510008,A Different World,Sitcom,20151219,103000,30.0
EP000000510159,A Different World,Sitcom,20151219,080300,29.0

CPU times: user 40.9 ms, sys: 7.41 ms, total: 48.3 ms
Wall time: 12.4 s

# Read viewing data

In [0]:
# Sample of 10 Million viewing entries

dataPath = f"dbfs:/viewing_10M"
viewing10m_df = spark.read.format("csv")\
    .option("header","true")\
    .option("delimiter",",")\
    .schema(schemas_dict['viewing_full'])\
    .load(dataPath)

display(viewing10m_df.limit(6))
print(f'viewing10m_df contains {viewing10m_df.count()} rows!')

mso_code,device_id,event_date,event_time,station_num,prog_code
01540,000000033afa,20151101,33000,67375,EP020820940009
01540,00000004e4b6,20151101,93000,42599,SP003189620000
01540,00000004eb8f,20151101,91856,42642,EP000176170270
01540,00000004f1d6,20151101,90206,68827,EP007961190099
01540,00000004f3c0,20151101,160658,10178,MV000259670000
01540,000000051ca0,20151101,174949,32645,EP001786120664

viewing10m_df contains 10042340 rows!

# Read reference data

In [0]:
%%time
# reference data is stored in parquet for your convinence.

ref_df = spark.read.parquet('dbfs:/refxml_new_parquet')

ref_df.printSchema()
print(f'ref_df contains {ref_df.count()} records!')
display(ref_df.limit(6))

root
 |-- device_id: string (nullable = true)
 |-- dma: string (nullable = true)
 |-- dma_code: long (nullable = true)
 |-- household_id: long (nullable = true)
 |-- household_type: string (nullable = true)
 |-- system_type: string (nullable = true)
 |-- zipcode: long (nullable = true)

ref_df contains 1268071 records!

device_id,dma,dma_code,household_id,household_type,system_type,zipcode
00000113498f,Toledo,547,1470605,FWM-ID,H,43460
12bf0065bad0,Toledo,547,1492575,FWM-ID,H,43460
000000797c1d,Toledo,547,1493317,FWM-ID,H,43460
000002de361c,Toledo,547,1446566,FWM-ID,H,43528
0000026360a2,Toledo,547,1467668,FWM-ID,H,43528
00000071622f,Toledo,547,1519598,FWM-ID,H,43528

CPU times: user 13 ms, sys: 804 µs, total: 13.8 ms
Wall time: 5.05 s

# **Part 2**

### Section 1

In [0]:
from pyspark.sql.functions import col, explode, split, desc, count, avg, max as max_, lit, row_number
import re

# Load the daily program data with relevant columns - for calculating per "genre" 
daily_program_data = load_csv_file('Daily program data', schemas_dict['Daily program data'])\
    .select("prog_code", "genre")

# Load the viewing data with relevant columns- for calculating the amount of viewing entries by "prog_code" (popularity)
viewing_data = spark.read.format("csv")\
    .option("header", "true")\
    .option("delimiter", ",")\
    .schema(schemas_dict['viewing_full'])\
    .load("dbfs:/viewing_10M")\
    .select("device_id", "prog_code")

# Load the reference data with relevant columns - for calcuating the amount of devices per DMA, and "household_id" for section 2
# dropDuplicates on "device_id" so that device_id won't belong for different DMAs
reference_data = spark.read.parquet('dbfs:/refxml_new_parquet')\
    .select("household_id", "device_id", "dma").dropDuplicates(["device_id"])

# Filter out 'Unknown' DMA and get the top 10 largest DMAs by the number of devices
top_dmas = reference_data.filter(col("dma") != "Unknown").groupBy("dma").count().orderBy(desc("count")).limit(10)

# Display the top 10 DMAs by the count of devices
print("### Top 10 DMAs by their popularity ###")
top_dmas.show(10, truncate=False)

### Top 10 DMAs by their popularity ###
+--------------------------+-----+
|dma                       |count|
+--------------------------+-----+
|Wilkes Barre-Scranton-Hztn|26194|
|Charleston-Huntington     |25987|
|Seattle-Tacoma            |18890|
|Little Rock-Pine Bluff    |18377|
|Washington, DC (Hagrstwn) |18068|
|Toledo                    |15822|
|Amarillo                  |15728|
|Greenville-N.Bern-Washngtn|14397|
|Bend, OR                  |14089|
|Lubbock                   |13087|
+--------------------------+-----+

In [0]:
# dropDuplicates ensures that the views are counted correctly
joined_data = viewing_data.join(reference_data, on="device_id").dropDuplicates()
# Use cache because we access "final_joined_data" multipe times (in section2 also)
final_joined_data = joined_data.join(daily_program_data, on="prog_code").dropDuplicates().cache()

# We use collect on small data - size 10 (rows)
top_dmas_list = [row["dma"] for row in top_dmas.collect()]

# Process each DMA for popularity calculations
def process_dma_popularity(dma_name, index):
    # Filter the data for the current DMA
    dma_data = final_joined_data.filter(col("dma") == dma_name)
    
    # Process genres and calculate the amount of viewing entries
    genre_popularity = (dma_data.withColumn("genre", explode(split(col("genre"), ",")))
                        .groupBy("genre")
                        .agg(count("*").alias("viewing_entries"))
                        .orderBy(desc("viewing_entries")))
    
    clean_dma_name = re.sub(r'[^a-zA-Z0-9_]', '', dma_name.replace(' ', '_'))
    
    file_name = f"dbfs:/project1_part21_{clean_dma_name}_{index + 1}.csv"
    genre_popularity.coalesce(1).write.csv(file_name, header=True, mode="overwrite")
    
    if index in [0, 4, 8]:
        print(f"### Top 10 genres for {dma_name} (DMA #{index + 1}) ###")
        genre_popularity.show(10, truncate=False)

# Process each DMA
for i, dma in enumerate(top_dmas_list):
    process_dma_popularity(dma, i)

### Top 10 genres for Wilkes Barre-Scranton-Hztn (DMA #1) ###
+-----------+---------------+
|genre      |viewing_entries|
+-----------+---------------+
|Reality    |45288          |
|News       |43819          |
|Sitcom     |28154          |
|Talk       |24198          |
|Comedy     |23702          |
|Crime drama|21126          |
|Documentary|20830          |
|Drama      |20508          |
|Children   |20481          |
|Action     |18773          |
+-----------+---------------+
only showing top 10 rows

### Top 10 genres for Washington, DC (Hagrstwn) (DMA #5) ###
+-----------+---------------+
|genre      |viewing_entries|
+-----------+---------------+
|Reality    |14641          |
|News       |11583          |
|Sitcom     |10062          |
|Comedy     |8448           |
|Children   |7508           |
|Drama      |7307           |
|Talk       |6917           |
|Animated   |6593           |
|Documentary|6210           |
|Adventure  |6098           |
+-----------+---------------+
only showing top 10 rows

### Top 10 genres for Bend, OR (DMA #9) ###
+------------+---------------+
|genre       |viewing_entries|
+------------+---------------+
|News        |21345          |
|Reality     |20222          |
|Talk        |14481          |
|Sitcom      |13264          |
|Comedy      |10461          |
|Documentary |8478           |
|Crime drama |8056           |
|Sports event|7906           |
|Drama       |7843           |
|Children    |7601           |
+------------+---------------+
only showing top 10 rows

### Section 2

In [0]:
from pyspark.sql.functions import col, when

# Load the demographic data with relevant columns
# dropDuplicates on "household_id" to ensure that each household's net worth and income are counted only once
demographic_data = (
    load_csv_file("demographic", schemas_dict["demographic"])
    .select("household_id", "net_worth", "income")
    .dropDuplicates(["household_id"])
)

demographic_data = demographic_data.withColumn(
    "income",
    when(col("income").isNull(), 0).otherwise(col("income")).cast("double")
)

# There might be multiple entries for the same household_id after the join. The dropDuplicates prevents duplicate entries from skewing the calculations
demographic_data = demographic_data.join(reference_data, on="household_id").dropDuplicates(["household_id"])

# Calculate the average net worth and income per DMA
dma_wealth = (
    demographic_data.groupBy("dma")
    .agg(avg("net_worth").alias("avg_net_worth"), avg("income").alias("avg_income"))
)

# Calculate the maximum net worth and income across all DMAs
# We use collect on small data - size 2 (columns)
max_values = dma_wealth.agg(
    max_("avg_net_worth").alias("max_net_worth"), max_("avg_income").alias("max_income")
).collect()

max_net_worth = max_values[0]["max_net_worth"]
max_income = max_values[0]["max_income"]

# Calculate wealth score for each DMA
dma_wealth = dma_wealth.withColumn(
    "wealth_score",
    (col("avg_net_worth") / lit(max_net_worth)) + (col("avg_income") / lit(max_income)),
)

# Filter out 'Unknown' DMA and get the top 10 wealthiest DMAs
top_wealthiest_dmas = (
    dma_wealth.filter(col("dma") != "Unknown").orderBy(desc("wealth_score")).limit(10)
)

# Display the wealth scores for the top 10 DMAs
print("### Wealth Scores for Top 10 Wealthiest DMAs ###")
top_wealthiest_dmas.select("dma", "wealth_score").show(10, truncate=False)

### Wealth Scores for Top 10 Wealthiest DMAs ###
+--------------------------+------------------+
|dma                       |wealth_score      |
+--------------------------+------------------+
|Baltimore                 |1.8193436021744103|
|Detroit                   |1.790698693186139 |
|Harrisburg-Lncstr-Leb-York|1.7885865088862474|
|Philadelphia              |1.7739939468542412|
|Austin                    |1.7358633028080743|
|Seattle-Tacoma            |1.7316265247806404|
|Cleveland-Akron (Canton)  |1.7008619699205387|
|San Francisco-Oak-San Jose|1.6916567123042754|
|Lexington                 |1.6761166393298799|
|Sacramnto-Stkton-Modesto  |1.6640426998018105|
+--------------------------+------------------+

In [0]:
# We use collect on small data - size 10 (rows)
top_wealthiest_dmas_list = [row["dma"] for row in top_wealthiest_dmas.collect()]

final_output = []

# Process each DMA for wealth calculations
def process_dma_wealth(dma_name, index, used_genres, wealth_score):
    # Filter the data for the current DMA
    dma_data = final_joined_data.filter(col("dma") == dma_name)

    # Process genres and calculate the amount of viewing entries
    genre_popularity = (
        dma_data.withColumn("genre", explode(split(col("genre"), ",")))
        .groupBy("genre")
        .agg(count("*").alias("viewing_entries"))
        .orderBy(desc("viewing_entries"))
    )

    # Remove already used genres
    genre_popularity = genre_popularity.filter(~col("genre").isin(used_genres))

    # Collects the top 11 genres (11 rows)
    top_genres = [row["genre"] for row in genre_popularity.limit(11).collect()]

    # Add top genres to used genres
    used_genres.extend(top_genres)

    # Convert the list of genres to a single string 
    top_genres_str = ", ".join(top_genres)

    final_output.append((dma_name, wealth_score, top_genres_str))

    # Display the top 11 genres for requested indexes
    if index in [0, 4, 8]:
        print(f"### Top 11 genres for {dma_name} (DMA #{index + 1}) ###")
        genre_popularity.show(11, truncate=False)

# Iterate over the top DMAs and process them
used_genres = []
for i, dma_row in enumerate(top_wealthiest_dmas.collect()):
    dma_name = dma_row["dma"]
    wealth_score = dma_row["wealth_score"]
    process_dma_wealth(dma_name, i, used_genres, wealth_score)

# Convert final output to DataFrame 
final_df = spark.createDataFrame(final_output, ["DMA NAME", "WEALTH SCORE", "ORDERED LIST OF GENRES"])

final_df.show(truncate=False)

for i, row in enumerate(final_output):
    dma_name, wealth_score, genres = row
    clean_dma_name = re.sub(r"[^a-zA-Z0-9_]", "", dma_name.replace(" ", "_"))
    file_name = f"dbfs:/project1_part22_{clean_dma_name}_{i + 1}.csv"
    single_row_df = spark.createDataFrame([(dma_name, wealth_score, genres)], ["DMA NAME", "WEALTH SCORE", "ORDERED LIST OF GENRES"])
    single_row_df.coalesce(1).write.csv(file_name, header=True, mode="overwrite")

### Top 11 genres for Baltimore (DMA #1) ###
+------------+---------------+
|genre       |viewing_entries|
+------------+---------------+
|News        |4575           |
|Reality     |3898           |
|Talk        |2808           |
|Comedy      |2494           |
|Sitcom      |2346           |
|Drama       |1890           |
|Action      |1743           |
|Adventure   |1709           |
|Children    |1708           |
|Sports event|1681           |
|Documentary |1656           |
+------------+---------------+
only showing top 11 rows

### Top 11 genres for Austin (DMA #5) ###
+--------------+---------------+
|genre         |viewing_entries|
+--------------+---------------+
|Bus./financial|958            |
|Golf          |895            |
|Science       |869            |
|Romance       |855            |
|Religious     |849            |
|Animals       |773            |
|Medical       |773            |
|Paranormal    |744            |
|Soap          |702            |
|How-to        |655            |
|Auto          |647            |
+--------------+---------------+
only showing top 11 rows

### Top 11 genres for Lexington (DMA #9) ###
+------------+---------------+
|genre       |viewing_entries|
+------------+---------------+
|Horse       |95             |
|Adults only |51             |
|Awards      |42             |
|Martial arts|40             |
|Aviation    |39             |
|Military    |33             |
|Agriculture |33             |
|Parenting   |30             |
|Debate      |24             |
|Softball    |20             |
|Poker       |13             |
+------------+---------------+
only showing top 11 rows

+--------------------------+------------------+----------------------------------------------------------------------------------------------------------------------------------------+
|DMA NAME                  |WEALTH SCORE      |ORDERED LIST OF GENRES                                                                                                                  |
+--------------------------+------------------+----------------------------------------------------------------------------------------------------------------------------------------+
|Baltimore                 |1.8146236782211438|News, Reality, Talk, Comedy, Sitcom, Drama, Action, Adventure, Children, Sports event, Documentary                                      |
|Detroit                   |1.7997102227407233|Crime drama, Sports non-event, Animated, House/garden, Entertainment, Football, Mystery, Fantasy, Newsmagazine, Consumer, Crime         |
|Philadelphia              |1.7924695412138136|Special, Suspense, Music, Game show, Cooking, Sports talk, Shopping, Outdoors, Science fiction, Educational, Law                        |
|Harrisburg-Lncstr-Leb-York|1.7881561969740338|Baseball, Travel, History, Horror, Public affairs, Home improvement, Playoff sports, Politics, Interview, Basketball, Western           |
|Austin                    |1.729173477741536 |Bus./financial, Golf, Science, Romance, Religious, Animals, Medical, Paranormal, Soap, How-to, Auto                                     |
|Seattle-Tacoma            |1.7244685665214214|Nature, Romance-comedy, Comedy-drama, Health, Fashion, Docudrama, War, Variety, Community, Auto racing, Weather                         |
|Cleveland-Akron (Canton)  |1.7071736589961146|Hunting, Collectibles, Anthology, Tennis, Pro wrestling, Auction, Dance, Biography, Historical drama, Musical, Mixed martial arts       |
|San Francisco-Oak-San Jose|1.684728346465968 |Spanish, Musical comedy, Soccer, Fishing, Standup, Art, Anime, Hockey, Boxing, Action sports, Technology                                |
|Lexington                 |1.6798204288407437|Horse, Adults only, Awards, Martial arts, Aviation, Military, Agriculture, Parenting, Debate, Softball, Poker                           |
|Sacramnto-Stkton-Modesto  |1.668289917678964 |Card games, Self improvement, Exercise, Event, Bicycle racing, Volleyball, Environment, Parade, Wrestling, Motorcycle racing, Miniseries|
+--------------------------+------------------+----------------------------------------------------------------------------------------------------------------------------------------+